#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
#DEBUG_LEVEL: 20

PrimaryExports%%
VAR2D NA  N N 0   none     none VAR2D case1.%y4.nc4
VAR3D NA  N N 0   none     none VAR3D case1.%y4.nc4
%%


DerivedExports%%
%%
