*~
/@ESMA_cmake/
/ESMA_cmake/
/ESMA_cmake@/
/@ESMA_env/
/ESMA_env/
/ESMA_env@/
/.mepo/
*.py.bak
CMakeUserPresets.json

# Ignore possible symlinked build and install directories
# Note: we can't use a / at the end because they might be
# symlink to a directory
build*
install*
!BUILD_INFO.rc.in

# If you build with spack libraries, you can get spack log files
spack*.log

*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/

/gFTL/
