step2.stderr prefetching future left E_1 from file test[.]20040103[.]nc4 at time index 00002
step2.stderr prefetching future left E_1 from file test[.]20040103[.]nc4 at time index 00004
step2.stderr prefetching future left E_1 from file test[.]20040103[.]nc4 at time index 00007
step2.stdout AsyncInputServer cache: reader_rank=2 slots=2 hits=4 misses=4 demand_misses=1 prefetch_misses=3 requests=8
