#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
#DEBUG_LEVEL: 20

PrimaryExports%%
VAR3Dc NA  N N 0   none     none VAR3Dc casec.%y4.nc4
VAR3De NA  N N 0   none     none VAR3De casee.%y4.nc4
%%


DerivedExports%%
%%
