GRID_LABELS: PC45x21-DC
::

PC45x21-DC.GRID_TYPE: LatLon
PC45x21-DC.IM_WORLD: 45
PC45x21-DC.JM_WORLD: 21
PC45x21-DC.POLE: PC
PC45x21-DC.DATELINE: DC
PC45x21-DC.LM: 3

#GRID_LABELS:
#::

COLLECTIONS: casec
             casee
::

  casec.template:  '%y4.nc4',
  casec.format:    'CFIO',
  casec.frequency:  010000,
  casec.duration: 000000
  casec.grid_label: PC45x21-DC
  casec.fields: 'VAR3Dc', 'Root',
                          ::
  casee.template:  '%y4.nc4',
  casee.format:    'CFIO',
  casee.frequency:  010000,
  casee.duration: 000000
  casee.grid_label: PC45x21-DC
  casee.fields: 'VAR3De', 'Root',
                          ::
