NX: 1
NY: 6
IM: 12
JM: 72
LM: 72
use_threads: .FALSE.

GetHorzIJIndex.GRID_TYPE: Cubed-Sphere
GetHorzIJIndex.GRIDNAME: PE12x72-CF
 GetHorzIJIndex.NF: 6
 GetHorzIJIndex.LM: 72
GetHorzIJIndex.IM_WORLD: 12
