#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
#DEBUG_LEVEL: 20

PrimaryExports%%
VAR1 NA  N N 0   none     none VAR1 case1.%y4.nc4
VAR2 NA  N N 0   none     none VAR2 case1.%y4.nc4
%%


DerivedExports%%
VAR2D VAR1+VAR2 0
%%
