NX: 1
NY: 1

root.GRID_TYPE: LatLon
root.GRIDNAME: DC90x45-PC
root.LM: 72
root.IM_WORLD: 90
root.JM_WORLD: 45
root.POLE: 'PC'
root.DATELINE: 'DC'

my_value: 11.0
my_child_so: libMAPL.bbb.so
my_child_name: BBB
