NX: 1
NY: 6

Root.GRID_TYPE: Cubed-Sphere
Root.GRIDNAME: PE24x144-CF
Root.LM: 3
Root.IM_WORLD: 24
Root.NF: 6

RUN_MODE: CompareImports

IMPORT_STATE::
VAR2D , time , days , xy , c
VAR3D , time , days , xyz , c
::

EXPORT_STATE::
VAR2D , time , days , xy , c
VAR3D , time , days , xyz , c
::

FILL_DEF::
VAR2D time
VAR3D time
::

REF_TIME: 20040701 000000
