GRID_LABELS:
::

COLLECTIONS: case1
::

  case1.template:  '%y4.nc4',
  case1.format:    'CFIO',
  case1.frequency:  010000,
  case1.duration: 000000
  case1.fields: 'VAR2D', 'Root',
                'VAR3D', 'Root',
                          ::
