GRID_LABELS: PC45x21-DC
::

PC45x21-DC.GRID_TYPE: LatLon
PC45x21-DC.IM_WORLD: 45
PC45x21-DC.JM_WORLD: 21
PC45x21-DC.POLE: PC
PC45x21-DC.DATELINE: DC
PC45x21-DC.LM: 3

#GRID_LABELS:
#::

COLLECTIONS: case1
::

  case1.template:  '%y4.nc4',
  case1.format:    'CFIO',
  case1.frequency:  010000,
  case1.duration: 000000
  case1.grid_label: PC45x21-DC
  case1.fields: 'VAR3D', 'Root',
                          ::
