GRID_LABELS:
::

COLLECTIONS: 
::

  case2.template:  'nc4',
  case2.format:    'CFIO',
  case2.frequency:  240000,
  case2.duration: 000000,
  case2.ref_time: 000000,
  case2.fields: 'VAR2D', 'Root',
                          ::
