#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
#DEBUG_LEVEL: 20

PrimaryExports%%
VAR2D NA  N N 0   none     none VAR2D case1.%y4%m2%d2_%h2%n2.nc4 2004-02-01T21:30:00P0000-00-00T03:00:00
%%


DerivedExports%%
%%
