#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
DEBUG_LEVEL: 20

PrimaryExports%%
U2D;V2D NA  N N 0   none     none U2D;V2D case1.%y4.nc4
#U3D;V3D NA  N N 0   none     none U3D;V3D case1.%y4.nc4
#U2D NA  N N 0   none     none U2D case1.%y4.nc4
#V2D NA  N N 0   none     none V2D case1.%y4.nc4
%%


DerivedExports%%
%%
