GRID_LABELS:
::

COLLECTIONS:
::

  case18_2.template:  '%y4.nc4',
  case18_2.format:    'CFIO',
  case18_2.frequency:  010000,
  case18_2.duration: 000000
  case18_2.fields: 'U2D', 'Root',
                'V2D', 'Root',
                          ::
