GRID_LABELS:
::

COLLECTIONS: testcase
::

  testcase.template:  '%y4%m2%d2_%h2%n2z.nc4',
  testcase.format:    'CFIO',
  testcase.frequency:  030000,
  testcase.fields: 'VAR2D', 'Root',
                'VAR3D', 'Root',
                          ::
