#CASE_SENSITIVE_VARIABLE_NAMES: .false.
Ext_AllowExtrap: .false.
Prefetch: .true.
#DEBUG_LEVEL: 20

PrimaryExports%%
VAR2D NA  N N F0   none     none VAR2D case1.%y4%m2%d2.nc4
%%


DerivedExports%%
%%
