VERSION: 1

COLLECTIONS: my_collection
::

GRID_LABELS: 
 C90
::

C90.GRID_TYPE: Cubed-Sphere
C90.GRIDNAME: C90
C90.NF: 6
C90.LM: 72
C90.IM_WORLD: 90


my_collection.template: "%y4%m2%d2_%h2%n2z.nc4"
my_collection.format: 'CFIO'
my_collection.grid_label: C90
my_collection.regrid_method: 'BILINEAR'
my_collection.frequency: 060000
my_collection.fields: 'field1', 'CCC' 
   ::

