NX: 6
NY: 36

Root.GRID_TYPE: Cubed-Sphere
Root.GRIDNAME: PE24x144-CF
Root.LM: 3
Root.NF 6
Root.IM_WORLD: 24

RUN_MODE: GenerateExports

EXPORT_STATE::
VAR2D , time , days , xy , c
VAR3D , time , days , xyz , c
::

FILL_DEF::
VAR2D time
VAR3D time
::

REF_TIME: 20040701 000000
