VERSION: 1
GRID_LABELS: PC20x11-DC
::

PC20x11-DC.GRID_TYPE: LatLon
PC20x11-DC.IM_WORLD: 20
PC20x11-DC.JM_WORLD: 11
PC20x11-DC.POLE: PC
PC20x11-DC.DATELINE: DC
PC20x11-DC.LM: 3

COLLECTIONS: vars2d
             vars3d
::


  vars2d.template:  'nc4',
  vars2d.format:    'CFIO',
  vars2d.frequency:  010000,
  vars2d.duration: 000000
  vars2d.grid_label: PC20x11-DC
  vars2d.fields: 'VAR2D', 'Root',
                          ::
  vars3d.template:  'nc4',
  vars3d.format:    'CFIO',
  vars3d.frequency:  010000,
  vars3d.duration: 000000
  vars3d.grid_label: PC20x11-DC
  vars3d.fields: 'VAR3D', 'Root',
                          ::
