COMPONENT_TO_RECORD: NI
LIBRARY_FILE: libNI2G_GridComp.so
EXPORT_CHECKPOINT: subset_export
RESTART_FILE: subset_import
PHASE: 2

# Grid information:
# -----------------
GRID_TYPE: LatLon
GRIDNAME: DC12x24-PC
LM: 72
IM_WORLD: 12
JM_WORLD: 24
POLE: 'PC'
DATELINE: 'DC'
X_1: 0
X_2: 12
Y_1: 24
Y_2: 48

NX: 1
NY: 1

RUN_DT: 900

TEST_FRAMEWORK_DRIVER: .TRUE.
SUBSET: .TRUE.
GRID_CAPTURE: .TRUE.
RESTORE_EXPORT_STATE: .TRUE.

# File information:
# -----------------
NI_IMPORT_RESTART_FILE: 	      subset_import
NI_INTERNAL_RESTART_FILE:	      subset_internal
NI_EXPORT_RESTART_FILE:		      subset_export		  

NI_IMPORT_CHECKPOINT_FILE:	      ni_import_checkpoint_runPhase2
NI_IMPORT_CHECKPOINT_TYPE: 	      default

NI_EXPORT_CHECKPOINT_FILE:	      ni_export_checkpoint_runPhase2
NI_EXPORT_CHECKPOINT_TYPE:	      default
				     			  
NI_INTERNAL_CHECKPOINT_FILE:          ni_internal_checkpoint_runPhase2
NI_INTERNAL_CHECKPOINT_TYPE:          default

IMPORT_CAPTURE_BEFORE_FILE: scratch/NI_import_before_runPhase2
IMPORT_CAPTURE_AFTER_FILE: scratch/NI_import_after_runPhase2
EXPORT_CAPTURE_BEFORE_FILE: scratch/NI_export_before_runPhase2
EXPORT_CAPTURE_AFTER_FILE: scratch/NI_export_after_runPhase2
INTERNAL_CAPTURE_BEFORE_FILE: scratch/NI_internal_before_runPhase2
INTERNAL_CAPTURE_AFTER_FILE: scratch/NI_internal_after_runPhase2

# Set optics parameters:
# ----------------------
aerosol_monochromatic_optics_wavelength_in_nm_from_LUT: 470 550 670 870

wavelengths_for_profile_aop_in_nm: 550               # must be included in LUT
wavelengths_for_vertically_integrated_aop_in_nm: 550 # must be included in LUT