schema_version: 2.0.0
component: MoistGridComp

category: IMPORT
#-----------------------------------------------------------------------------------------------------
#  VARIABLE            | DIMENSIONS               |          Additional Metadata
#-----------------------------------------------------------------------------------------------------
     NAME   | UNITS    | DIMS              | VLOC | cond | LONG NAME              | AVERAGING_INTERVAL
#-----------------------------------------------------------------------------------------------------
TH          | K        | MAPL_DimsHorzVert | C    |      | potential temperature  | AVRGNINT
PREF        | Pa       | z                 | E    |      | reference_air_pressure | AVRGNINT

category: EXPORT
#--------------------------------------------------------------------
#  VARIABLE              | DIMENSIONS  |          Additional Metadata
#--------------------------------------------------------------------
 NAME       | UNITS      | DIMS | VLOC | UNGRIDDED | LONG NAME
#--------------------------------------------------------------------
DUMMY1      | J          | xyz  |    N |       xzy | "I am a dummy."
DUMMY2      | K          | z    |    C |           | "I am another dummy"

category: INTERNAL
#---------------------------------------------------------------------------------------------------
#  VARIABLE    | DIMENSION   |          Additional Metadata
#---------------------------------------------------------------------------------------------------
 NAME  | UNITS | DIMS | VLOC                 | RESTART              | FRIENDLYTO | LONG NAME         | DATATYPE
#---------------------------------------------------------------------------------------------------
CNV_TR | 1     |  xyz | MAPL_VLocationCenter | MAPL_RestartSkip     | DYNAMICS   | convection_tracer | tensor
DUMMY3 | AU    |  xyz | E                    |                      | everyone   | just another var  | complex

#********************************************************
#
# Legend
#
#------------------------------------------------------------------
# Column label | MAPL keyword/interpretation |  Default
#--------------|---------------------------------------------------
# NAME         | short_name                  |
# UNITS        | units                       |
# DIMS         | dims                        |
# VLOC         | VLocation                   | MAPL_VLocationNone
# LONG NAME    | long_name                   |
# COND         | if (<logical-expr>) then    |  .FALSE.
# NUM_SUBTILES | num_subtiles
# ...
#------------------------------------------------------------------
#
#--------------------------------------------
# Entry alias  | Column | MAPL keyword/interpretation
#--------------|-----------------------------
# xyz          | DIMS   | MAPL_HorzVert
# xy           | DIMS   | MAPL_HorzOnly
# z            | DIMS   | MAPL_VertOnly  (plus ungridded)
# C            | VLOC   | MAPL_VlocationCenter
# E            | VLOC   | MAPL_VlocationEdge
# N            | VLOC   | MAPL_VlocationNone
#--------------------------------------------


