GRID_LABELS:
::

COLLECTIONS: my_collection
::

my_collection.template: "%y4%m2%d2_%h2%n2z.nc4"
my_collection.format: 'CFIO'
my_collection.frequency: 060000
my_collection.fields: 'output1', 'root' , 'root_output_field'
                      'field1', 'AAA',  
   ::

