name: docs

on:
  push:
    branches:
      - main
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: blob:none

      - name: Build and Deploy Docs
        uses: ./.github/actions/deploy-ford-docs
        with:
          # Due to a bug in ford, for now we do *not* want to use
          # the full path to the ford input file. Rather, the
          # action will cd into docs/Ford and then run ford
          # relative path to the ford input file.
          ford-input: docs-with-remote-esmf.md
          doc-folder: docs/Ford/doc

  build-and-deploy-dev-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: blob:none

      - name: Build and Deploy Dev Docs
        uses: ./.github/actions/deploy-ford-docs
        with:
          # Due to a bug in ford, for now we do *not* want to use
          # the full path to the ford input file. Rather, the
          # action will cd into docs/Ford and then run ford
          # relative path to the ford input file.
          ford-input: docs-with-remote-esmf.public_private_protected.md
          doc-folder: docs/Ford/dev-doc
          target-folder: dev-doc
