name: Build Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Do not run if the only files changed cannot affect the build
    paths-ignore:
      - "**.md"
      - "**.json"
      - "Python/**"
      - ".github/CODEOWNERS"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".editorconfig"

jobs:
  check-ford-docs:
    name: Build Ford Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Build and Deploy Docs
        uses: ./.github/actions/deploy-ford-docs
        with:
          # Due to a bug in ford, for now we do *not* want to use
          # the full path to the ford input file. Rather, the
          # action will cd into docs/Ford and then run ford
          # relative path to the ford input file.
          ford-input: ford-ci.md
          doc-folder: docs/Ford/ci-doc
          deploy-token: ${{ secrets.DOCS_DEPLOY_PAT }}

  build_test_mapl_gnu:
    name: gfortran / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env-mkl:v8.16.0-openmpi_5.0.8-gcc_15.1.0
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    env:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: gfortran
          extra-cmake-args: -DMPIEXEC_PREFLAGS='--oversubscribe'

  build_test_mapl_ifort:
    name: ifort / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env:v8.16.0-intelmpi_2021.13-ifort_2021.13
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: ifort

  # The following job is currently disabled because ifx 2025.2
  # cannot build Baselibs. See https://github.com/Goddard-Fortran-Ecosystem/yaFyaml/issues/87
  ################################################################################
  # build_test_mapl_ifx:                                                         #
  #   name: ifx / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }} #
  #   runs-on: ubuntu-latest                                                     #
  #   container:                                                                 #
  #     image: gmao/ubuntu24-geos-env:v8.16.0-intelmpi_2021.16-ifx_2025.2        #
  #   strategy:                                                                  #
  #     fail-fast: false                                                         #
  #     matrix:                                                                  #
  #       cmake-build-type: [Debug, Release]                                     #
  #       cmake-generator: [Unix Makefiles]                                      #
  #   steps:                                                                     #
  #     - name: Checkout                                                         #
  #       uses: actions/checkout@v4                                              #
  #       with:                                                                  #
  #         fetch-depth: 1                                                       #
  #         filter: blob:none                                                    #
  #                                                                              #
  #     - name: Build and Test MAPL                                              #
  #       uses: ./.github/actions/ci-build-and-test-mapl                         #
  #       with:                                                                  #
  #         cmake-build-type: ${{ matrix.cmake-build-type }}                     #
  #         cmake-generator: ${{ matrix.cmake-generator }}                       #
  #         fortran-compiler: ifx                                                #
  ################################################################################
