name: Build Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Do not run if the only files changed cannot affect the build
    paths-ignore:
      - "**.md"
      - "**.json"
      - "Python/**"
      - ".github/CODEOWNERS"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - ".editorconfig"

jobs:
  check-ford-docs:
    name: Build Ford Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: blob:none

      - name: Build and Deploy Docs
        uses: ./.github/actions/deploy-ford-docs
        with:
          # Due to a bug in ford, for now we do *not* want to use
          # the full path to the ford input file. Rather, the
          # action will cd into docs/Ford and then run ford
          # relative path to the ford input file.
          ford-input: ford-ci.md
          doc-folder: docs/Ford/ci-doc
          deploy-token: ${{ secrets.DOCS_DEPLOY_PAT }}

  build_test_mapl_gnu:
    name: gfortran / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env-mkl:v8.20.0-openmpi_5.0.5-gcc_14.2.0
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    env:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: gfortran
          extra-cmake-args: -DMPIEXEC_PREFLAGS='--oversubscribe'

  build_test_mapl_gnu15:
    name: gfortran-15 / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env-mkl:v8.20.0-openmpi_5.0.5-gcc_15.2.0
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    env:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: gfortran
          extra-cmake-args: -DMPIEXEC_PREFLAGS='--oversubscribe'

  build_test_mapl_ifort:
    name: ifort / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env:v8.20.0-intelmpi_2021.13-ifort_2021.13
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles, Ninja]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: ifort

  build_test_mapl_ifx:
    name: ifx / ${{ matrix.cmake-build-type }} / ${{ matrix.cmake-generator }}
    runs-on: ubuntu-latest
    container:
      image: gmao/ubuntu24-geos-env:v8.20.0-intelmpi_2021.16-ifx_2025.2
    strategy:
      fail-fast: false
      matrix:
        cmake-build-type: [Debug, Release]
        cmake-generator: [Unix Makefiles]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          filter: blob:none

      - name: Build and Test MAPL
        uses: ./.github/actions/ci-build-and-test-mapl
        with:
          cmake-build-type: ${{ matrix.cmake-build-type }}
          cmake-generator: ${{ matrix.cmake-generator }}
          fortran-compiler: ifx

  build_gcm:
    strategy:
      matrix:
        compiler: [ifort, gfortran-14, gfortran-15]
        build-type: [Debug]
    uses: GEOS-ESM/CI-workflows/.github/workflows/geosgcm_build_tests.yml@project/geosgcm
    with:
      compiler: ${{ matrix.compiler }}
      cmake-build-type: ${{ matrix.build-type }}
      fixture-repo: GEOS-ESM/GEOSgcm
      fixture-ref: release/MAPL-v3
      run-mepo-develop: false
